.about-block {
    position: relative;
    margin-left: 4rem;
    margin-bottom: 2rem;
    border-left: 1px $gray-lighter solid;
    padding-left: 1.5rem;

    &__icon {
        position: absolute;
        top: 0;
        left: -4rem;

        .fa {
            font-size: 3rem;
            color: $brand-primary;
        }
    }

    h3 {
        color: $gray;
        font-size: 1.25rem;
    }
}

.calendars {
    margin: 2rem 0;

    .calendar {
        margin: 0;
    }
}

.categories {
    margin-bottom: 1rem;
}

.categories li {
    color: $gray;
	margin-bottom: 0.5rem;
}

.columns {
    column-count: 3;
}

@include media-breakpoint-down(sm) {
    .about-block {
        margin-left: 0;
        margin-bottom: 2rem;
        padding-bottom: 1rem;
        padding-left: 0;
        border-left: 0;
        border-bottom: 1px $gray-lighter solid;

        &__icon {
            text-align: center;
            position: static;
        }

        h2 {
            text-align: center;
            margin-bottom: 2rem;
        }
    }

    .columns {
        column-count: 2;
    }
}
