.social-links {
    li {
        display: inline-block;
        font-size: 1.25rem;
    }

    .fa {
        font-size: 1.75rem;
    }

    a {
        display: block;
        margin-left: 0.5rem;
    }

    a:hover {
        text-decoration: none;
    }
}

.languages {

}

.vote-info {
    padding: 1rem;
    margin-bottom: 2rem;
    background: $gray-lighter;

    h2 {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 0.25rem;
    }

    p {
        font-size: 1rem;
        color: $gray-light;
    }

    p:last-child {
        margin-bottom: 0;
    }
}

.calendar {
    text-align: center;
    border: 3px rgba(0, 0, 0, 0.15) solid;
    margin: -1rem -1rem -1rem 1rem;

    &__heading {
        color: #FFF;
        background: $brand-primary;
        padding: 0.15rem;
    }

    &__dates {
        font-size: 1.35rem;
        background: #FFF;
        padding: 0rem 1rem;
    }

    &__month {
        font-size: 1.15rem;
    }

    &__date-columns .col:first-child {
        border-right: 1px rgba(0, 0, 0, 0.15) dashed;
    }
}
