.navbar {
  .navbar-brand {
    h1 {
      margin-bottom: 0;
    }
  }

  &.navbar-dark a {
    color: $white;
  }

  &-social {
    margin-right: 1rem;

    .nav-item {
      margin: 0.5rem 0;
    }

    a {
      margin: 0 0.5rem;
      opacity: 0.75;
      transition: 0.15s ease-in-out;

      &:hover {
        opacity: 1;
        text-decoration: none;
      }
    }

    .fa, .fab {
      font-size: 1.25rem;
    }
  }

  &-languages {
    margin: 1rem 0;
  }
}

.vote-info {
  background: $gray-lightest;
  padding: 2rem;
  margin-bottom: 2rem;

  h2 {
    font-size: 2.5rem;
    font-weight: 900;
    line-height: 1;
  }

  .vote-info__action {
    margin-top: 2rem;

    a {
      display: inline-block;
      position: relative;
      background: $white;
      font-size: 1.25rem;
      font-weight: bold;
      padding: 0.75rem 2rem;
      border-radius: 4px;
      box-shadow: $box-shadow;
      transition: 0.15s ease;

      &:hover {
        box-shadow: $box-raised-shadow;
        text-decoration: none;
        transform: translateY(-2px);

        .fa {
          border-right: 2px darken($gray-lighter, 10%) solid;
        }
      }

      &:active {
        transform: translateY(2px);
      }

      .fa {
        font-size: 1rem;
        margin-right: 0.5rem;
        border-right: 2px $gray-lighter solid;
        padding-right: 0.75rem;
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  .vote-info {
    h2 {
      font-size: 3rem;
    }

    h2, p {
      margin-right: 100px;
    }
  }

  .navbar-social {
    .nav-item {
      margin: 0;
    }
  }

  .navbar-languages {
    margin: 0;
  }
}
