// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/bootstrap-vue/dist/bootstrap-vue";

// Animations
@import "animations";


.booth {
    position: relative;
}

.main-container {
    background: #FFF;
    padding: 2rem;
}

input,
button {
    font-family: $font-family-base;
}

.ballot-box {
    background: $gray-lighter;
    margin-top: 2rem;
    padding: 1rem;
}
