// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/bootstrap-vue/dist/bootstrap-vue";

// Animations
@import "animations";


.booth {
    position: relative;
}

.main-container {
    background: #FFF;
    padding: 1rem;
}

input,
button {
    font-family: $font-family-base;
}

.ballot-box {
    background: $gray-lighter;
    padding: 1.5rem;

    h3 {
        font-weight: bold;
    }
}

@include media-breakpoint-up(sm) {
    .main-container {
        padding: 2rem;
    }
}
